__pycache__/
.ipynb_checkpoints/
.DS_Store
.vscode
playground
build/
dist/
*.egg-info/
.history/
NY_taxi_data/NY_tuned_forest_1.joblib
NY_taxi_data/NY_tuned_forest_2.joblib
NY_taxi_data/yellow_tripdata_2019-01.csv
NY_taxi_data/yellow_tripdata_2019-02.csv
