__pycache__/
.ipynb_checkpoints/
.DS_Store
.vscode
playground
build/
dist/
*.egg-info/
.history/
notebooks/yellow_tripdata_2019-01.csv
notebooks/yellow_tripdata_2019-02.csv
notebooks/NY_tuned_forest_1.joblib
notebooks/NY_tuned_forest_2.joblib
